:root {
  --main-background: #d6d8dd;
  --btn-background: #505d72;
  --btn-hover: #3e495a;
  --main-font: "Nunito", sans-serif;
}

body {
  background-color: var(--main-background);
  font-family: var(--main-font);
}

/* Header Styles */

header {
  width: 12em;
  height: 3.3em;
  background-color: var(--btn-background);
  margin: 3.3em auto 0 auto;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

#header-nav {
  width: 100%;
  height: 100%;
}

.btn {
  width: 33.3%;
  height: 100%;
  cursor: pointer;
  background-color: var(--btn-background);
  border: none;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn:focus {
  outline: none;
}

.btn img {
  width: 1.5em;
  height: 1.5em;
  filter: invert();
}

.selected {
  margin-top: 0.3em;
}

/* Grid-container */

#main-container {
  width: 100%;
  height: 33.3em;
  justify-content: center;
}

#grid-container {
  width: 500px;
  height: 500px;
  background-color: white;
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

#side-nav {
  width: 18em;
  height: 21em;
  margin-top: 2em;
  flex-wrap: wrap;
  align-items: flex-start;
}

#pixel-range {
  width: 10em;
  height: 4em;
  margin-left: 2.6em;
  margin-top: 0em;
}

#pixel-range p {
  margin-bottom: 0.8em;
  color: var(--btn-background);
  font-size: 1.1em;
  font-weight: 700;
}

#range {
  width: 10em;
}

#color-pick-container {
  width: 10em;
  height: 3em;
  margin-left: 2.6em;
  margin-top: -2em;
}

#current-color {
  width: 7em;
  height: 3em;
}

#color-picker {
  width: 3em;
  height: 3em;
 background-color: #afa28d;
 background-image: url(../images/color-picker.png);
 background-size: 50%;
 background-repeat: no-repeat;
 background-position: center;
 filter: invert();
}

#color-picker:hover {
  background-color: #c1b6a5;
}

#color-picker input {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  padding: 0em;
  color: transparent;
  appearance: none;
  -webkit-app
  display: inline-block;
  opacity: 0;
}

input[type="color"] {
	-webkit-appearance: none;
}

#other-colors {
  width: 10em;
  height: 6em;
  margin-left: 2.6em;
  cursor: pointer;
  margin-top: -1.8em;
  flex-wrap: wrap;
}

#btn-clear {
  width: 8em;
  height: 3em;
  background-color: var(--btn-background);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: -1.8em;
  margin-left: 2.6em;
  font-family: var(--main-font);
  font-size: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

#btn-clear:hover {
  background-color: var(--btn-hover);
}

#credits-nav {
  width: 18em;
  height: 100%;
}

/* footer */

footer {
  width: 31em;
  height: 6em;
  margin: 2em auto;
  text-align: right;
  justify-content: space-between;
}

#social-links {
  width: 10em;
  height: 3em;
  justify-content: left;
  align-items: center;
}

#git-icon {
  width: 1.8em;
  height: 1.8em;
  margin-left: 1em;
  opacity: 70%;
}

#odin-icon {
  width: 2em;
  height: 2.8em;
  opacity: 70%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

#social-links img:hover {
  opacity: 100%;
}
footer h1 {
  font-size: 1.8em;
  font-weight: 800;
  color: var(--btn-background);
}

footer h6 {
  font-size: 1.2em;
  color: var(--btn-background);
}

/* Global classes */

.flex {
  display: flex;
}
